/*para notas basicamente se borra al termianr el proyecto*/

.color {
  color: #0d6efd; /*color de botones */
  color: #111827; /*colores que se usan en general background*/
}
/* 


Elejir Estilos de botones cartas y otros 
https://neumorphism.io

paleta de colores  
https://coolors.co/
https://uicolors.app/create 

Crear Movimientos
https://animista.net/

Para buscar svg 
https://feathericons.com/ 


*/
