.AppointmentStyle {
  /* background-color: rgb(16, 15, 15); 
  min-height: calc(100vh - 44px);
  color: white;*/
  margin: 0;
}

/* ---------------------------------------
--  Estilo de como mostrar las citas
------------------------------------------ */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-sizing: border-box;
  height: 300px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 1rem;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.no-data {
  text-align: center;
  width: 100%;
}

/* ---------------------------------------
--  Estilo para form de buscar
------------------------------------------ */
.input-date {
  border-color: #0b5ed6;
  border-radius: 10px;
  padding: 10px;
}
