.createClassStyle {
  /* background-color: rgb(16, 15, 15);
  color: white;
  min-height: calc(100vh - 44px);*/
  margin: 0;
}

/* ---------------------------------------
--  para el form
------------------------------------------ */

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: #111827;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-CreateClass {
  background-color: transparent;
  color: rgba(243, 244, 246, 1);
  padding: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-CreateClass option {
  background-color: #111827;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form-CreateClass {
  margin-top: 1.5rem;
}

.input-group-CreateClass {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group-CreateClass label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group-CreateClass input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group-CreateClass input:focus {
  border-color: rgba(167, 139, 250);
}

.buttomCreate {
  display: block;
  width: 100%;
  background-color: #0d6efd;
  padding: 0.75rem;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-top: 15px;
}
.buttomCreate:hover {
  background-color: #1462d8;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.input-group-CreateClass[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  border-radius: 50%;
  padding: 4px;
}

.input-group-CreateClass[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  border-radius: 50%;
  padding: 4px;
}

#searchInput {
  border-color: #0b5ed6;
}
