.usuarioName{
    color: rgb(31, 31, 242);
    font-weight: bold;
    text-decoration: underline;
}

.FeedBack{

}

.boxFeedBack {
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
}
